/* div {
    background-color: blueviolet;
}

p {
    background-color: aqua;
} */

/* ul {
    background-color: brown;
} */

div {
    background-color: yellow;
}

/* form {
    background-color: red;
} */

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}

button:hover {
    background-color: red;
}