.container {
  height: 70vh;
  width: 90vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 10px 10px;
  margin: 50px auto;
}

.box {
  background-color: pink;
}

.head {
  grid-column: 1/13;
  grid-row: 1/2;
}

.side {
  grid-column: 1/4;
  grid-row: 2/12;
}

.nav {
  grid-column: 4/10;
  grid-row: 2/3;
}

.ad {
  grid-column: 10/13;
  grid-row: 2/12;
}

.main {
  grid-column: 4/10;
  grid-row: 3/12;
}

.foot {
  grid-column: 1/13;
  grid-row: 12/13;
}

@media (max-width: 720px) {
  .head {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .side {
    grid-column: 1/4;
    grid-row: 3/12;
  }

  .nav {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  .ad {
    grid-column: 1/4;
    grid-row: 12/13;
  }

  .main {
    grid-column: 4/13;
    grid-row: 3/12;
  }

  .foot {
    grid-column: 4/13;
    grid-row: 12/13;
  }
}
