div {
    height: 450px;
    width: 550px;
    background-color: aqua;
    margin: 50px auto;
    background-image: url(fox.jpg);
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */
    text-align: center;
}